@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
  min-height: 100vh;
  /* width: 100%; */
  margin: 0;
  overflow-x: hidden;
  overscroll-behavior: contain;
  background: linear-gradient(300deg, #ff001a, #ff6600, #ffe500);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  /* width: 100%; */
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#root {
  /*? neon orange */
  /* background-color: #ff6600; */
  /*? neon green */
  /* background-color: #00ff66; */
  /*? neon indigo */
  /* background-color: #6600ff; */
  color: #000;
  transition: color .5s ease-in-out;
}

  #logo {
    width: 2.8125em;
    height: 2.8125em;
    position: relative;
    z-index: 1;
    transform: scale(1.5) translateX(.3125em) translateY(.5em);
    transition: all .25s ease-in-out;
  }

  .navbar {
    background-color: #ff583300!important;
    z-index: 2;
  }

  .navbar-brand {
    padding: 0!important;
  }

  .navbar-toggler {
    border: none;
    padding: 0!important;
    border-radius: none!important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    background-image: url(/public/images/back-arrow.svg)!important;
    /* transition: background-image .35s linear; */
  }
  .navbar-toggler:hover {
    animation: button-pulse 1.5s linear 0s infinite backwards;
  }

  .navbar-toggler:focus {
    filter: drop-shadow(1px 0px 1px #0099ff) drop-shadow(-1px 0px 1px #0099ff) drop-shadow(0px 1px 1px #0099ff) drop-shadow(1px -1px 1px #0099ff) brightness(115%) contrast(200%)!important;
  }

  .btn-close:focus {
    box-shadow: none;
    filter: invert() drop-shadow(1px 0px 1px #0099ff) drop-shadow(-1px 0px 1px #0099ff) drop-shadow(0px 1px 1px #0099ff) drop-shadow(1px -1px 1px #0099ff) brightness(115%) contrast(200%)!important;
  }

  div#project-header.modal-header > button.btn-close:focus {
    filter: drop-shadow(1px 0px 1px #0099ff) drop-shadow(-1px 0px 1px #0099ff) drop-shadow(0px 1px 1px #0099ff) drop-shadow(1px -1px 1px #0099ff) brightness(115%) contrast(200%)!important;
  }

  .carousel-control-next-icon:focus, .carousel-control-prev-icon:focus {
    filter: drop-shadow(1px 0px 1px #0099ff) drop-shadow(-1px 0px 1px #0099ff) drop-shadow(0px 1px 1px #0099ff) drop-shadow(1px -1px 1px #0099ff) brightness(115%) contrast(200%)!important;
  }

  .btn-close:hover {
    animation: button-pulse 1s linear 0s infinite backwards;
  }

  @keyframes button-pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    font-size: 1.75em;
    pointer-events: none;
    /* transition: background-image .25s ease-in-out; */
  }

  .navbar-toggler:focus {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
  }

  #main-section {
    /* padding-top: 25%; */
    text-align: right;
    min-height: 100vh;
    /* width: 100%; */
    max-width: 100%;
    /* padding-right: 55px; */
    /* padding-right: 17.5%; */
    padding-bottom: 50%;
    position: absolute;
    top: 20%;
    right: 17.5%;
  }

  #main-container {
    position: relative;
    z-index: 0;
    perspective: 250px;
    transform-style: preserve-3d;
    padding: 0;
    /* padding-right: 55px; */
  }

  /* #dots {
    position: absolute;
    z-index: -5;
    top: -200px;
    right: 0px;
    left: 5px;
    transform: scale(1.15) rotateY(-5deg);
    filter: blur(1px) opacity(.15);
    animation: rotating-dots 60s ease-in-out 0s infinite both;
  }

  @keyframes rotating-dots {
    0% {
      transform: scale(1.15) rotateY(-5deg) rotateZ(0deg);
    }
    100% {
      transform: scale(1.15) rotateY(-5deg) rotateZ(360deg);
    }
  } */

  .main-h2 {
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    /* font-size: 20px; */
    font-size: 1.25em;
    /* margin-top: 50px; */
    margin-bottom: 0;
    letter-spacing: -3px;
    line-height: 1;
    text-shadow: 1px -1px 0 #ff001a44, 2px -2px 0 #ff001a44, 3px -3px 0 #ff001a44, 4px -4px 0 #ff001a44;
    /*! only need this below if the shadows from the buttons are overlapping  */
    position: relative;
    z-index: 1;
    /* transition: color .5s linear;
    transition: text-shadow .5s linear; */
    transition: all .5s linear;
  }

  /* #ff010018 */

  #uefn-h2 {
    margin-top: 10%;
    animation: h2-slide-and-pop .5s ease-out .8s 1 normal backwards;
  }

  .project-button-container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    transform: rotateY(-15deg) scaleX(1.15) scaleY(1.35);
    margin-top: 23.5%;
  }

  .project-button-container:nth-child(2) {
    padding-bottom: 5%;
  }

  .project-button {
    text-decoration: none;
    color: #000;
    font-family: 'Archivo Black', sans-serif;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: -4px;
    text-shadow: 1px -1px 0 #ff001a44, 2px -2px 0 #ff001a44, 3px -3px 0 #ff001a44, 4px -4px 0 #ff001a44;
    text-wrap: pretty;
    position: relative;
    z-index: 1;
    /* transition: color .5s linear;
    transition: text-shadow .5s linear; */
    transition: all .35s linear;
  }

  .main-h2:nth-child(1) {
    animation: slide-in-and-pop .5s ease-out 0s 1 normal backwards;
  }
  #uefn-h2 {
    animation: slide-in-and-pop .5s ease-out .9s 1 normal backwards;
  }

  .project-button:nth-child(2) {
    animation: slide-in-and-pop .5s ease-out .15s 1 normal backwards;
  }
  .project-button:nth-child(3) {
    animation: slide-in-and-pop .5s ease-out .25s 1 normal backwards;
  }
  .project-button:nth-child(4) {
    animation: slide-in-and-pop .5s ease-out .35s 1 normal backwards;
  }
  .project-button:nth-child(5) {
    animation: slide-in-and-pop .5s ease-out .45s 1 normal backwards;
  }
  .uefn-button:nth-child(2) {
    animation: slide-in-and-pop .5s ease-out 1.05s 1 normal backwards;
  }
  .uefn-button:nth-child(3) {
    animation: slide-in-and-pop .5s ease-out 1.15s 1 normal backwards;
  }
  .uefn-button:nth-child(4) {
    animation: slide-in-and-pop .5s ease-out 1.25s 1 normal backwards;
  }
  .uefn-button:nth-child(5) {
    animation: slide-in-and-pop .5s ease-out 1.35s 1 normal backwards;
  }
  .uefn-button:nth-child(6) {
    animation: slide-in-and-pop .5s ease-out 1.45s 1 normal backwards;
  }
  .uefn-button:nth-child(7) {
    animation: slide-in-and-pop .5s ease-out 1.55s 1 normal backwards;
  }
  .uefn-button:nth-child(8) {
    animation: slide-in-and-pop .5s ease-out 1.65s 1 normal backwards;
  }

  @keyframes slide-in-and-pop {
    0% {
      opacity: 0;
      transform: translateY(250px);
    }
    80% {
      transform: scale(1.25);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0px);
    }
  }

  .noHover {
    pointer-events: none!important;
    
  }

  /*? ########################################################################################################################  */
  /*? ########################################################################################################################  */
  /*! NAVIGATION BAR & MENU  */
  /*? ########################################################################################################################  */
  /*? ########################################################################################################################  */

  div.navmenu-header {
    margin-bottom: 10%;
  }

  li.nav-item {
    width: fit-content;
  }

  /* removes janky transition as the height adjusts to meet full screen size  */
  .collapsing {
    transition: none;
  }

  ul.navbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .navmenu-header {
    width: 100%;
    height: 3.28125em;
    display: flex;
    justify-content: space-between;
  }

  .nav-link {
    font-family: 'Archivo', sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: 600;
    color: #fff!important;
  }

  .btn-primary {
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: none;
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: none;
    --bs-btn-active-color: none;
    --bs-btn-active-bg: none;
    --bs-btn-active-border-color: none;
    --bs-btn-active-shadow: none;
    --bs-btn-disabled-bg: none;
    --bs-btn-disabled-border-color: none;
    --bs-btn-disabled-color: none;
  }

  .modal {
    --bs-modal-border-color: none;
  }

  .modal-nav-button {
    font-family: 'Archivo', sans-serif;
    font-size: 1.125em;
    font-weight: 600;
    padding: 0.5em 0px;
  }

  .modal-nav-button, a.nav-link.active {
    transition: color .35s linear, text-shadow .35s linear;
  }

  li.nav-item {
    text-align: left;
  }

  .modal-nav-button:hover, a.nav-link.active:hover {
    animation: button-pulse 1.5s linear 0s infinite backwards;
  }

  .modal-nav-button:focus, a.nav-link.active:focus {
    filter: drop-shadow(1px 0px 1px #0099ff) drop-shadow(-1px 0px 1px #0099ff) drop-shadow(0px 1px 1px #0099ff) drop-shadow(1px -1px 1px #0099ff) brightness(115%) contrast(200%)!important;
  }

  .nav-symbols {
    color: #000;
    font-weight: 500;
    font-size: 1.125em;
    margin-right: 0.3125em;
  }

  .nav-descript {
    font-family: 'Archivo', sans-serif;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
  }

  .nav-email {
    font-family: 'Archivo', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 1em;
  }

  .navbar-text.nav-descript.nav-email {
    padding-bottom: 5px!important;
  }

  .navbar-text {
    padding: 0!important;
    margin: 0!important;
    text-align: right;
    font-size: 1em;
    font-weight: 600;
  }

  .navbar-text:nth-child(2) {
    margin-bottom: 5px!important;
    font-weight: 500;
    color: black;
  }

  .navbar-text:nth-child(4) {
    font-weight: 500;
    color: black;
  }

  /* class for disabling body scrolling while navbar is open */
  .navOpenOnMobile {
    overflow: hidden;
  }
  /* class for disabling navmenu scrolling when fullscreen */
  .fixed-position {
    overflow: hidden;
  }

  .modal-backdrop {
    --bs-backdrop-zindex: 2;
  }
  
  .modal.fade .modal-dialog {
    transition: none;
    transform: none;
  }

  .fade { 
    transition: opacity .25s linear;
  }

  .modal {
    --bs-modal-zindex: 2;
    --bs-modal-header-border-color: none;
    --bs-modal-bg: none;
    --bs-modal-footer-bg: none;
  }

  .offcanvas {
    background-color: #000;
    color: #fff;
  }

  #logo-bio {
    width: 45px;
    height: 45px;
    transform: scale(1.5) translateX(5px) translateY(5px);
    position: relative;
    z-index: 4;
    padding: 1px;
    animation: logo-shadow 2s ease-in-out 2s infinite both;
  }

  @keyframes logo-shadow {
    0% {
      filter: drop-shadow(8px 8px 8px #ff6600) drop-shadow(-5px -5px 5px #000) brightness(125%) contrast(200%) saturate(200%);
    }
    50% {
      filter: drop-shadow(2px 2px 2px #ff6600) drop-shadow(-1px -1px 1px #000) brightness(125%) contrast(200%) saturate(200%);
    }
    100% {
      filter: drop-shadow(8px 8px 8px #ff6600) drop-shadow(-5px -5px 5px #000) brightness(125%) contrast(200%) saturate(200%);
    }
  }

  .offcanvas-body {
    padding: 20px 0px 0px 0px;
  }


  .btn-close {
    font-size: 1.75em;
    position: relative;
    --bs-btn-close-opacity: 1;
  }

  #about-close {
    filter: invert(1);
  }

  .modal-body {
    background-color: #000;
  }

  .bio-paragraph, #bio-intro {
    font-family: 'Archivo', sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0;
    padding: 10px 20px;
  }

  #bio-intro {
    padding: 0px 20px;
  }

  .carousel {
    padding: 10px 0px 0px 0px;
  }

  #bio-intro {
    animation: slide-in-left .5s ease-out .25s 1 normal backwards;
  }

  .bio-paragraph:nth-child(2) {
    animation: slide-in-left .5s ease-out .25s 1 normal backwards;
  }

  .bio-paragraph:nth-child(3) {
    animation: slide-in-right .5s ease-out .5s 1 normal backwards;
  }

  .bio-container:nth-child(2) {
    animation: slide-in-right .5s ease-out .5s 1 normal backwards;
  }

  .carousel {
    animation: slide-in-bottom .5s ease-out .75s 1 normal backwards;
  }

  .bio-paragraph:nth-child(5) {
    background-color: #fff;
    color: #000;
    padding-top: 20px;
    animation: slide-in-left .5s ease-out 1s 1 normal backwards;
  }
  .bio-paragraph:nth-child(6) {
    background-color: #fff;
    color: #000;
    padding-bottom: 20px;
    animation: slide-in-right .5s ease-out 1.25s 1 normal backwards;
  }

  #bio-intro {
    font-size: 20px;
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
  }


  #descript1-cont {
    animation: slide-in-top .5s ease-out .25s 1 normal backwards;
  }

  #descript1 {
    animation: slide-in-right .5s ease-out .75s 1 normal backwards;
  }

  #descript2, .uefn-bullets {
    animation: slide-in-left .5s ease-out 1s 1 normal backwards;
  }

  #video-cont, #built-cont, #github-cont {
    animation: slide-in-bottom .5s ease-out 1.5s 1 normal backwards;
  }

  #project-video {
    animation: slide-in-bottom .5s ease-out 1.75s 1 normal backwards;
  }

  #tech-cont, #island-cont {
    animation: fade-in-center .5s ease-out 2.5s 1 normal backwards;
  }

  #github-link {
    animation: slide-in-right .5s ease-out 2.75s 1 normal backwards;
  }

  #deployed-link {
    animation: slide-in-left .5s ease-out 2.75s 1 normal backwards;
  }

  #fortnite-link {
    animation: slide-in-top .5s ease-out 2.75s 1 normal backwards;
  }

  @keyframes fade-in-center {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  @keyframes black-to-white {
    0% {
      background-color: #fff;
    }
    100% {
      background-color: #000;
    }
  }

    @keyframes slide-in-top {
      0% {
        opacity: 0;
        transform: translateY(-250px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes slide-in-left {
      0% {
        opacity: 0;
        transform: translateX(-250px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes slide-in-right {
      0% {
        opacity: 0;
        transform: translateX(250px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @keyframes slide-in-bottom {
      0% {
        opacity: 0;
        transform: translateY(250px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

  #bio-modal-body {
    padding: 0;
  }

  .bio-img {
    height: 100%;
    object-fit: cover;
    background-color: #ff6600;
    padding: 10px 10px;
  }

  .carousel-control-prev, .carousel-control-next {
    opacity: 1;
    scale: 1.25;
    margin: 2.5%;
  }

  #project-modal {
    background-color: #fff;
  }

  #project-header, #uefn-header {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 5px #00000044;
  }

  #uefn-header {
    min-height: 72.5px;
  }

  #project-name, #uefn-name {
    font-family: 'Archivo Black', sans-serif;
    font-size: 35px;
    letter-spacing: -4px;
    color: #000;
    text-shadow: -1px -1px #ffe500, -2px -2px #ffe500, -3px -3px #ffe500, -4px -4px #ffe500;
    animation: project-uefn-name-colors 6s linear infinite both;
  }

  @keyframes project-uefn-name-colors {
    0% {
      text-shadow: -1px -1px #ffe500, -2px -2px #ffe500, -3px -3px #ffe500, -4px -4px #ffe500;
    }
    25% {
      text-shadow: -1px -1px #ffe500, -2px -2px #ffe500, -3px -3px #ffe500, -4px -4px #ffe500;
    }
    50% {
      text-shadow: -1px -1px #ff001a, -2px -2px #ff001a, -3px -3px #ff001a, -4px -4px #ff001a;
    }
    75% {
      text-shadow: -1px -1px #ffe500, -2px -2px #ffe500, -3px -3px #ffe500, -4px -4px #ffe500;
    }
    100% {
      text-shadow: -1px -1px #ffe500, -2px -2px #ffe500, -3px -3px #ffe500, -4px -4px #ffe500;
    }
    
  }

  #uefn-name {
    line-height: .85;
    text-wrap: balance;
    font-size: 2em;
  }

  #project-body {
    background-color: #000;
    padding: 0;
  }

  #descript1-cont {
    font-family: 'Archivo', sans-serif;
    font-size: 1em;
    padding: 10px;
    font-weight: 400;
    background-color: #fff;
  }

  #descript1 {
    margin-top: 5px;
  }

  #descript1, #descript2 {
    margin-bottom: 0;
  }

  #descript2 {
    margin-top: 15px;
  }

  #uefn-list {
    margin-bottom: 0;
    padding-left: 10px;
  }

  #project-video {
    width: 100%;
    object-fit: cover;
    background-color: #000;
  }

  #video-cont {
    padding: 0;
    background-color: #000;
    /* padding: 10px 10px 5px 10px; */
    /* padding-top: 10px; */
  }

  #github-cont { 
    background-color: #000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 10px 10px 10px;
  }

  #github-link, #deployed-link {
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: transform .5s linear, text-shadow .5s linear;
  }

  #code-cont {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px 0px 10px;
  }

  #island-code {
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    font-size: 14px;
    margin-bottom: 0;
    text-decoration: none;
    animation: tech-text-colors 6s linear infinite both;
  }

  #fortnite-cont {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  #fortnite-link {
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: transform .35s linear, text-shadow .35s linear;
  }

  #fortnite-link:hover, #github-link:hover, #deployed-link:hover {
    animation: button-pulse 1.5s linear 0s infinite backwards;
  }

  #fortnite-link:focus, #github-link:focus, #deployed-link:focus {
    filter: drop-shadow(1px 0px 1px #0099ff) drop-shadow(-1px 0px 1px #0099ff) drop-shadow(0px 1px 1px #0099ff) drop-shadow(1px -1px 1px #0099ff) brightness(115%) contrast(200%)!important;
  }

  .uefn-symbols {
    margin-right: 5px;
    font-weight: 700;
  }

  .uefn-bullets {
    margin: 0;
    margin-bottom: 5px;
  }
  .uefn-bullets:last-child {
    margin: 0;
  }

  #built-cont {
    padding: 0;
    background-color: #000;
  }

  #tech-cont {
    padding: 5px 10px 5px 10px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .tech {
    display: block;
    font-family: 'Archivo Black', sans-serif;
    font-size: 12px;
    padding: 0px 2px;
    /* transition: all .5s ease-in-out; */
    color: #ffe500;
    animation: tech-text-colors 6s linear infinite both;
  }

  @keyframes tech-text-colors {
    0% {
      color:#ffe500
    }
    25% {
      color:#ffe500;
    }
    50% {
      color:#ff001a;
    }
    75% {
      color:#ffe500;
    }
    100% {
      color:#ffe500;
    }
    
  }

  .project-button:hover {
    z-index: 1;
    color: #ffe500!important;
    text-shadow: 1px 0px 0px #000, 2px 0px 0px #000, 3px 0px 0px #000, 4px 0px 0px #000!important;
    transform: translateX(-10px) translateY(0px);
    transition: text-shadow .35s linear, transform .35s linear;
  }

  .project-button:focus {
    filter: drop-shadow(1px 0px 1px #0099ff) drop-shadow(-1px 0px 1px #0099ff) drop-shadow(0px 1px 1px #0099ff) drop-shadow(1px -1px 1px #0099ff) brightness(115%) contrast(200%)!important;
  }

/*? *********************************************************************************************************************************  */

  /*? *********************************************************************************************************************************  */

@media (min-width: 360px) {
  #main-section {
    top: 15%;
  }
  #project-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #descript1-cont {
    flex-grow: 0;
  }
  #video-cont {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #tech-cont, #code-cont {
    padding-top: 10px;
  }
  .bio-img {
    object-fit: contain;
    height: 100%;
  }
}

/*? *********************************************************************************************************************************  */

@media (min-width: 400px) {
  #main-section {
    right: 20%;
  }
}

/*? *********************************************************************************************************************************  */

@media (min-width: 568px) {
  #main-section {
    top: 27.5%;
    right: 25%;
  }
  .modal-nav-button {
    padding: 0;
  }
  ul.navbar-nav {
    padding: 10px 0 20px 0;
  }
  .navbar-text {
    font-size: 12px;
  }
  .nav-link {
    padding: 0;
  }
  div.navmenu-header {
    margin-bottom: 0;
  }
  #logo {
    width: 2em;
    height: 2em;
    transform: scale(1.25) translateX(0px) translateY(4px)
  }
  .navbar-text:nth-child(2) {
    margin-bottom: 0px!important;
  }
  .project-button-container:nth-child(2) {
    margin-top: 10%;
  }
  .software-video {
    /* change these to percentages?  */
    max-width: 320px;
    max-height: 320px;
    padding-top: 15px;
  }
  #video-cont {
    align-items: center;
  }
  #built-cont {
    max-width: 360px;
  }
  .bio-img {
    /* max-height: 320px; */
  }
  #descript1-cont, #descript2-cont {
    max-width: 100%;
  }
}

/*? *********************************************************************************************************************************  */

@media (min-width: 768px) and (max-height: 480px){
  #main-section {
    top: 65%;
    right: 27.5%;
  }
  .project-button-container {
    margin-top: 0;
  }
  .project-button {
    font-size: 48px;
    line-height: 42px;
  }
  .modal-nav-button, .nav-link.active {
    font-size: 28px;
  }
  ul.navbar-nav {
    align-items: unset;
  }
  .nav-item {
    padding: 3px 0px;
  }
  .navbar-text {
    font-size: 20px;
  }
}
/*? *********************************************************************************************************************************  */

@media (min-width: 768px) and (min-height: 481px) {
  #main-section {
    top: 30%;
    right: 27.5%;
  }
  .project-button-container {
    margin-top: 0;
  }
  .project-button {
    font-size: 48px;
    line-height: 42px;
  }
  .modal-nav-button, .nav-link.active {
    font-size: 28px;
  }
  ul.navbar-nav {
    align-items: unset;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .nav-item {
    padding: 3px 0px;
  }
  .navbar-text {
    font-size: 20px;
  }
  #logo {
    width: 65px;
    height: 65px;
  }
  div.fade.modal.show {
    display: flex!important;
    justify-content: center;
    align-items: center;
  }
  .software-video {
    max-width: unset;
    max-height: unset;
    padding-top: unset;
  }
  #built-cont {
    max-width: unset;
  }
  .modal-content {
    z-index: 1000!important;
  }
  .modal-dialog {
    z-index: 5;
  }
}

  /*? *********************************************************************************************************************************  */

@media (min-width: 768px) {

}

  /*? *********************************************************************************************************************************  */

@media (min-width: 1024px) {

}

  /*? *********************************************************************************************************************************  */

@media (min-width: 1300px) {

}

